body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 100vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: #fff;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "wrapper1 wrapper2"
    "swap swap"
    "button button";
}

.title {
  grid-area: title;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

#notification {
  font-size: 0.9rem;
  position: fixed;
  bottom: 36px;
  color: #ffffff;
  text-align: center;
  padding: 8px;
  background-color: rgba(255, 72, 72, 0.894);
  border-radius: 6px;
  min-width: 400px;
  margin: 0 auto;
  animation: slideUp 0.3s ease-out forwards;
}

.wrapper1 {
  grid-area: wrapper1;
}
.wrapper2 {
  grid-area: wrapper2;
}

.wrapper1,
.wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  padding: 0 20px;
}

.wrapper1 > div,
.wrapper2 > div {
  display: flex;
  gap: 8px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 1px 4px;
}

.wrapper1 div:nth-child(1),
.wrapper2 div:nth-child(1) {
  gap: 20px;
}

#swapBtn {
  grid-area: swap;
  justify-self: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin: 20px auto;
  transition: transform 0.3s ease;
  filter: invert(100%);
}

#swapBtn:hover {
  transform: scale(110%);
}

#fromImg,
#toImg {
  width: auto;
  height: 32px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

select {
  width: 80%;
  padding: 10px;
  border: 0;
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.currency-input {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 100%;
  font-size: 1rem;
  font-size: 2rem;
  text-align: right;
}

input:active,
input:focus {
  outline: none;
}

#convertBtn {
  grid-area: button;
  width: 95%;
  justify-self: center;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bolder;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
  transition: background-color 0.3s ease;
}

#convertBtn:hover:not(:disabled) {
  background-color: #0068d7;
}

#convertBtn:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.7;
}

.footer {
  position: fixed;
  font-size: small;
  right: 20px;
  bottom: 4px;
}

.hidden {
  display: none;
}

@media (max-width: 600px) {
  .container {
    grid-template-areas:
      "title title"
      "wrapper1 wrapper1"
      "wrapper2 wrapper2"
      "swap swap"
      "button button";
    max-width: 80%;
  }

  #notification {
    top: 36px;
    height: fit-content;
    min-width: fit-content;
    width: calc(100% - 40px);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
